<!DOCTYPE html>
<html>
<head>
  <%- include(baseDir + '/parts/head') %>
  <title>アルゴリズム可視化</title>
</head>
<body>
  <header class="top">
    <h1 class="title">Algorithm Visualization</h1>
    <p>アルゴリズムを可視化して解説</p>
  </header>

  <main class="main">
    <section>
      <h2>
        <span lang="en">sort</span> - <span lang="ja">ソート</span>
      </h2>
      <p>一定の基準でデータを並び替えること</p>
      <ul class="menu">
        <li>
          <a href="sort/buble_sort.html">
            buble sort - バブルソート
          </a>
        </li>
        <li>
          <a href="sort/selectedSort.html">
            selected sort - 選択ソート
          </a>
        </li>
        <!--
        <li>
          <a href="sort/insertionSort.html">
            insertion sort - 挿入ソート
          </a>
        </li>
        <li>
          <a href="sort/quickSort.html">
            quick sort - クイックソート
          </a>
        </li>
        <li>
          <a href="sort/mergeSort.html">
            merge sort - マージソート
          </a>
        </li>
          -->
      </ul>
    </section>
    <!--
    <section>
      <h2>
        <span lang="en">sort</span> - <span lang="ja">迷路生成</span>
      </h2>
      <ul class="menu">
        <li>
          <a href="maze/defeatedBar.html">
            棒倒し法
          </a>
        </li>
        <li>
          <a href="maze/digging.html">
            穴掘り法
          </a>
        </li>
      </ul>
    </section>
    -->
  </main>

</body>
</html>