<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../parts/head') %>
  <script type="text/javascript" src="sort.js?_<%- new Date().getTime() %>"></script>
  <title>アルゴリズム可視化</title>
</head>

<body>
  <header class="top">
    <h1 class="title">Algorithm Visualization</h1>
    <p>アルゴリズムを可視化して解説</p>
  </header>
</body>
</html>