<!DOCTYPE html>
<html>
<head>
    <%- include(baseDir + '/parts/head') %>
    <title>クイックソート - quick sort</title>
    <script>
        window.onload = function () {
            new SortManager(new QuickSort('pixi-area', {}));
        }
    </script>
</head>
<body>
  
    <%- include(baseDir + '/parts/header_menu') %>

    <main>
        <section>
            <h3 class="sub-title">クイックソート - quick sort</h3>
            <div id="pixi-area">
        
            </div>
        </section>

        <%- include(baseDir + '/parts/sort/sort_controller') %>
    </main>
  
</body>
</html>