<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/head') %>
  <title>アルゴリズム可視化</title>
  <style>
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 217px;
      background-color: #304FFE;
      color: #ffffff;
    }

    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 30px 0;
    }

    .container>div {
      padding: 0 10px;
    }

    .card {
      background-color: #00897B;
      width: 140px;
      height: 172px;
      box-shadow: 0 2px 5px #ccc;
      padding: 5px;
      cursor: pointer;
    }

    .card:hover {
      background-color: #26A69A;
    }

    .card p {
      text-align: center;
      font-weight: bold;
      font-size: 37px;
      color: white;
      margin-top: 60px;
    }
  </style>
</head>

<body>
  <header class="top">
    <h1 class="title">Algorithm Visualization</h1>
    <p>アルゴリズムを可視化して解説</p>
  </header>

  <main class="container">
    <div>
      <section class="card" onclick="location.href='sort.html'">
        <p>SORT</p>
      </section>
    </div>
    <div>
      <section class="card" onclick="location.href=''">
        <p>MAZE</p>
      </section>
    </div>
  </main>
</body>

</html>